@import "_global";
@import "_vars";

// ! start header

.header {
    background-color: #1c0e0f;
    height: 70px;
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.menu{
    display: flex;
    line-height: 70px;
    text-align: center;
}
.menu__btn{
    width: 30px;
    padding: 10px 0 10px;
    line-height: 50px;
    cursor: pointer;
    div{
        height: 3px;
        margin-bottom: 4px;
        background-color: #fff;
    }
    display: none;
}
.menu__list {
    
    li {
        display: inline-block;
        position: relative;
        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: #fff;
            opacity: 0;
            position: absolute;
            bottom: 20px;
            left: 0;
            z-index: 1;
            transition: all .5s;
            
        }
        &:hover:after{
            opacity: 1;
        }
            
        & + li {
            margin-left: 28px;
        }
    }
    a {
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
    }
}

// ! end header

//! start intro

.intro {
    background-image: url(../images/intro-bg2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}
.intro__bg {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 160px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.intro__inner {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    top: 50%;
    transform: translate(0,-50%);
    text-align: center;
}
.intro__title {
    font-size: 70px;
    line-height: 64px;
    margin-bottom: 40px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    position: relative;
    padding-bottom: 30px;
    &::after {
        content: "";
        position: absolute;
        width: 150px;
        height: 2px;
        background-color: #fff;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}
.intro__subtitle {
    max-width: 725px;
    font-size: 24px;
    color: #fff;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    margin: 0 auto 80px;
}
.intro__btn {
    border: 1px solid $gold;
    text-transform: uppercase;
    width: 170px;
    padding: 22px 10px;
    background-color: transparent;
    color: $gold;
    cursor: pointer;
    outline: none;
    padding-bottom: 20px;
    letter-spacing: 0.08em;
}

//! end intro

//! start about

.about {
    text-align: center;
    padding: 100px 0;
    p {
        font-weight: 400;
        line-height: 27px;
        max-width: 688px;
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 80px;
    }
}
.section-title {
    text-align: center;
    h2 {
        position: relative;
        font-size: 36px;
        padding-bottom: 26px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-weight: 400;
        &::after {
            content: "";
            position: absolute;
            width: 150px;
            height: 2px;
            background-color: $brown;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.section-title--white {
    color: #fff;
}
.about__box {
    display: flex;
    justify-content: space-between;
}
.about__item {
    max-width: 320px;
    font-size: 16px;
    & + .about__item {
        padding-left: 30px;
    }
    &:hover .about__item-img {
        background-color: $brown;
    }
    g {
        transition: all 0.4s;
    }
    &:hover g {
        fill: #fff;
    }
}
.about__item-img {
    margin: 0 auto;
    margin-bottom: 25px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    text-align: center;
    transition: all 0.4s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
        position: absolute;
        width: 60px;
        height: 60px;
    }
}
.about__item-title {
    margin-bottom: 7px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.08em;
}
.about__item-subtitle {
    margin-bottom: 20px;
    color: $brown;
    font-style: italic;
    font-weight: 700;
}
.about__item-text {
    color: $gray;
}

//! end about

//! start discount

.discount {
    padding: 74px 0;
    background-color: $bg;
}
.discount__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.discount__content{
    display: flex;
    align-items: center;
}
.discount__img {
    margin-right: 60px;
    svg {
        height: 102px;
        width: 102px;
    }
    g {
        fill: $gold;
    }
}
.discount__text {
    font-size: 25px;
    font-weight: 700;
    line-height: 38px;
    max-width: 382px;
    margin-right: 80px;
}
.discount__link {
    border: 1px solid $gold;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    width: 170px;
    padding: 22px 10px;
    text-align: center;
    background-color: transparent;
    color: $gold;
}
//! end discount

//! start menu

.our-menu {
    padding: 100px 0;
}

.our-menu__text {
    font-size: 16px;
    max-width: 700px;
    font-family: "Open Sans", sans-serif;
    margin: 0 auto;
    padding: 40px 0 80px;
}
.our-menu__list {
    column-count: 2;
    width: 100%;
    margin-bottom: 50px;
}
.our-menu__list-item {
    max-width: 520px;
    width: 100%;
    position: relative;
    margin-bottom: 40px;
}
.our-menu__list-name {
    font-weight: 700;
    line-height: 14px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
}
.our-menu__list-description {
    display: flex;
    justify-content: space-between;
    max-width: 540px;
    width: 100%;
    margin: 0;
}
.our-menu__list-size {
    background-color: #fff;
    padding-right: 10px;
    z-index: 1;
    font-family: "Open Sans", sans-serif;
    color: $gray;
}
.our-menu__list-border {
    border-bottom: 1px dashed $gray;
    width: 97%;
    position: absolute;
    margin: 0 10px;
    bottom: 3px;
    right: 0;
}
.our-menu__list-price {
    background-color: #fff;
    z-index: 1;
    padding-left: 10px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}
.our-menu__link {
    width: 240px;
    cursor: pointer;
    padding: 20px 10px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    border: 1px solid #6b3021;
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.08em;
}

//! end menu

//! start slider

.slider {
    background-color: #281718;
    padding-top: 50px;
    padding-bottom: 50px;
}

.slider__inner {
    margin-top: 20px;
}
.slider__item-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.slider__img {
    margin-right: 90px;
    width: 350px;
    height: 350px;
    img {
        width: 100%;
    }
}
.slider__content {
    color: #fff;
    max-width: 460px;
    width: 100%;
}
.slider__title {
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}
.slider__subtitle {
    font-family: "Open Sans", serif;
    font-size: 18px;
    max-width: 220px;
    font-weight: 300;
    margin-bottom: 30px;
}
.slider__text {
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-weight: 300;
    max-width: 450px;
    margin-bottom: 40px;
    line-height: 27px;
}
.slider__link {
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid $gold;
    padding: 20px 10px;
    width: 240px;
    text-align: center;
    letter-spacing: 0.08em;
}

.slick-dots li button {
    width: 11px;
    height: 11px;
    background-color: #c4c4c4;
    border-radius: 50%;
    font-size: 0;
    display: block;
    cursor: pointer;
    outline: none;
}
.slick-dots li {
    display: inline-block;
    & + li {
        margin-left: 16px;
    }
}
.slick-dots {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.slick-dots li.slick-active button {
    background-color: $gold;
}
.slick-arrow {
    background-color: transparent;
    outline: none;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    position: absolute;
}
.slick-next {
    right: 20px;
}
.slick-prev {
    left: 10px;
    z-index: 1;
}

//! end slider

//! start cooking

.cooking {
    padding: 100px 0;
}
.cooking__tabs {
    padding: 60px 165px 0;
}
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    .tab {
        text-transform: uppercase;
        letter-spacing: 0.08em;
        padding: 15px 24px;
        transition: all 0.5s;
        font-weight: 600;
        cursor: pointer;
        width: 100%;
        text-align: center;
        & + .tab {
            border-left: 1px solid $brown;
        }
        &:hover {
            background-color: $brown;
            color: #fff;
        }
    }
}
.tab-item {
    display: none;
    &:first-child {
        display: block;
    }
}
.tab-item__inner {
    display: flex;
}
.tab-item__img {
    max-width: 415px;
    img {
        width: 100%;
        height: auto;
    }
}
.tab-item__content {
    border: 1px solid $brown;
    border-left: none;
    max-width: 415px;
    max-height: 415px;
    padding: 0 25px;
    text-align: center;
}
.tab-item__title {
    font-size: 36px;
    margin-bottom: 50px;
    text-transform: uppercase;
    margin-top: 50px;
}
.tab-item__text {
    font-family: "Open Sans", sans-serif;
    margin-bottom: 40px;
    line-height: 24px;
}
.tab-item__link {
    width: 240px;
    padding: 20px 15px;
    color: #fff;
    text-transform: uppercase;
    background-color: $brown;
    letter-spacing: 0.08em;
    margin-bottom: 10px;
}

//! end cooking

//! start footer

.footer__top {
    background-image: url(../images/footer-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    padding: 180px 0 110px;
    position: relative;
}
.footer__bg{
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 160px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.footer__top-inner {
    text-align: center;
    margin: 0 auto;
    color: #fff;
}
.footer__top-address {
    font-size: 18px;
    max-width: 250px;
    margin: 0 auto;
    padding: 60px 0 70px;
    span {
        font-size: 24px;
        display: block;
        margin-bottom: 16px;
    }
}
.footer__top-form {
    position: relative;
    max-width: 350px;
    margin: 0 auto;
    label {
        font-size: 26px;
        display: block;
        margin-bottom: 40px;
    }
    input {
        display: block;
        width: 100%;
        margin: 0 auto;
        color: #fff;
        font-size: 18px;
        outline: none;
        height: 54px;
        border: none;
        border: 1px solid #ffffff;
        background-color: transparent;
        line-height: 18px;
        padding: 22px 10px 22px 22px;
        &::placeholder {
            color: #fff;
            font-size: 18px;
        }
    }
    button {
        background-color: #fff;
        cursor: pointer;
        width: 54px;
        height: 54px;
        position: absolute;
        bottom: 0;
        right: 0;
        &::before {
            content: "";
            background-image: url(../images/social/mail1.svg);
            position: absolute;
            width: 20px;
            height: 20px;
            top: 17px;
            left: 17px;
        }
    }
}

.footer__bottom {
    background-color: #00171f;
    height: 70px;
}
.footer__bottom-inner {
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        color: #fff;
        font-size: 16px;
    }
}
.footer__bottom-social {
    line-height: 70px;
    display: flex;
    svg {
        height: 20px;
        width: 20px;
        g {
            fill: #fff;
        }
    }
}
.footer__bottom-img {
    cursor: pointer;
    &:hover {
        svg g {
            fill: $brown;
        }
    }
    & + .footer__bottom-img {
        margin-left: 20px;
    }
}

//! end footer




@import "_media";
